.ksht
  &-basket
    &-items-container
      max-height: 455px
      overflow: hidden
      position: relative
    &-item
      &-image
        width: 155px
        height: 186px
        background: $gray-800
      &-check
        width: 28px
      &-name
        width: 367px
        height: 48px
      &-delete
        font-size: 20px
        i:before
          line-height: 34px