.ksht
  &-blog-item
    &-image
      background-color: $gray-800
      height: 420px
      padding: 18px 16px
      img
        width: 56px
        height: 56px
        border-radius: 50%
        background-color: $black