.btn
  &-check
    + .btn
      min-width: 32px
      height: 32px
      line-height: 22px
      padding: 4px 10px
      margin-bottom: 16px
    &:checked
      + .btn
        background-color: $light
        border: 1px solid $black
  &-green-secondary
    &:hover
      border-color: #5BA973 !important
      background-color: #5BA973 !important
      opacity: 1 !important

  &.disabled
    border-color: $gray-100 !important
    background-color: $gray-100 !important
    opacity: 1 !important

.accordion-button:not(.collapsed)
  box-shadow: none

a
  &[data-bs-toggle="collapse"]
    &:before
      content: "+ "
  &.open
    &:before
      content: "- "