.ksht
  &-carousel
    &-medium
      margin-left: -16px
      margin-right: -16px
      .carousel
        &-item
          &-content
            height: 286px
            background: $gray-800 no-repeat center center
        &-indicators
          button
            width: 8px
            height: 8px
            border-radius: 50%
            border: 1px solid $gray-900
            background-color: transparent
            opacity: 1
            &.active
              background-color: $gray-900

        &-control
          &-prev,
          &-next
            width: 32px
            height: 32px
            background-color: $white
            margin: auto 24px
            color: $black
            font-size: 24px
            &:hover
              background-color: $green-secondary

@media (min-width: 540px)
  .ksht
    &-carousel
      &-medium
        margin-left: -20px
        margin-right: -20px
        .carousel
          &-item
            &-content
              height: 364px

@media (min-width: 1320px)
  .ksht
    &-carousel
      &-medium
        margin-left: 0
        margin-right: 0