header
  margin-bottom: 12px
  &:not(.header-index)
    height: 120px

  .input-group
    margin-top: 16px
    &-text
      font-size: 24px
      padding: 12px
    .form-control
      border-left: none
      padding-left: 0

  .header-back-link
    color: $black
    &:hover
      color: $white
      i
        color: $white

.header
  padding: 16px 0

  i
    color: $black

  .ksht
    &-icon-menu
      &:hover,
      &:focus
        i
          color: $white !important

.ksht
  &-logo
    background: url(../images/logo.svg) no-repeat center center
    background-size: contain
    width: 195px
    height: 30px
    display: block
    margin: auto

  &-icon-menu
    line-height: 17px !important
    font-size: 24px
    border-bottom: none !important


  &-left-menu
    display: flex
    a.text-black
      &:hover,
      &:focus
        color: $black !important

  &-rigth-menu
    display: flex
    justify-content: right
    a
      display: inline-block
      margin-left: 20px
      text-decoration: none

  &-first-menu-container
    padding: 26px
    text-align: center
    a
      text-decoration: none
      display: inline-block
      margin: 0 17px
      font-size: 14px
      font-weight: 400
      line-height: 21px

  &-second-menu-container
    padding-bottom: 26px
    text-align: center
    position: relative
    margin: 0 -22px
    a
      text-decoration: none
      display: inline-block
      margin: 0 11px
      font-size: 12px
      font-weight: 400
      line-height: 17px
      text-transform: uppercase
      &:after
        display: none
      &.show
        color: $primary !important

    .dropdown
      position: static
      &-menu
        width: calc(100% - 24px)
        transform: translate(12px, 41px) !important
        border-radius: 0
        border-left: 0
        border-right: 0
        border-bottom: 0
        border-top-color: $primary
        min-height: 573px
        padding: 28px 0

        a
          text-transform: none

  &-submenu-image-preview
    width: 315px
    height: 380px
    background: $gray-800 no-repeat center center
    background-size: cover

  &-short-menu
    &-space
      display: block
      width: 1px
      background-color: $gray-100
      height: 30px
    a
      display: inline-block
      height: 46px
      line-height: 46px
      text-align: center
      width: 50%
      font-size: 16px
      font-weight: 400
      color: $black
      text-decoration: none
      &.active
        border-bottom: 1px solid $black
        font-weight: 500
        font-family: 'montserratmedium'

.offcanvas
  width: 376px !important

.offcanvas-image-menu
  width: 358px
  margin: 0 -16px 12px -16px
  height: 112px
  background: $gray-900 no-repeat center center
  background-size: cover

.offcanvas-body
  .ksht-short-menu
    margin: 0 -16px
  .row.row-cols-2 > *
    padding: 0 8px

.header-sticky
  position: sticky
  top: -1px
  z-index: 110
  left: 0
  right: 0
  &.short
    position: fixed

@media (min-width: 540px)
  header:not(.header-index)
    height: 134px

@media (max-width: 1140px)
  .header-sticky
    &.short
      .sticky-hide
        display: none

      .ksht-left-menu
        flex-grow: 0
      .col-input-search
        width: 100%
        flex: 1 0 0
      .input-group
        margin-top: 0
      .justify-content-between
        justify-content: normal !important

@media (min-width: 1140px)
  .header
    padding: 20px 0

  .ksht
    &-logo
      width: 285px
      height: 44px

    &-left-menu
      a
        display: inline-block
        margin-right: 21px
        text-decoration: none
        line-height: 25px

        &:hover,
        &.active
          font-family: 'montserratmedium'
          font-weight: 500
          margin-right: 20px
          border-bottom: 1px solid $black


@media (min-width: 1320px)
  header:not(.header-index)
    height: 207px