.ki
  &-chestnut
    background: url(../images/chestnut.svg) no-repeat center center
    background-size: contain
    width: 34px
    height: 34px
    display: inline-block

.ksht-icon-circle
  width: 36px
  min-width: 36px
  height: 36px
  min-height: 36px
  display: inline-block
  border-radius: 50%
  font-size: 24px
  color: $white
  text-align: center
  line-height: 36px
  text-decoration: none
  margin-right: 15px

.icon
  &-size
    &-64
      font-size: 64px

.ci
  &-Heart_Fill_01:before
    content: ""
    background: url(../images/heart-01.svg) no-repeat center center
    background-size: contain
    display: inline-block
    width: 24px
    height: 24px
    margin-bottom: -1px