.order-status
  &-item
    width: 36px
    text-align: center
    font-size: 12px
    color: $gray-900
    line-height: 1
    i
      display: inline-block
      width: 24px
      height: 24px
      background: no-repeat 0 0
      background-size: contain
      &.icon
        &-1
          background-image: url(../images/icons-order-status.svg#icon-1)
        &-2
          background-image: url(../images/icons-order-status.svg#icon-2)
        &-3
          background-image: url(../images/icons-order-status.svg#icon-3)
        &-4
          background-image: url(../images/icons-order-status.svg#icon-4)
        &-5
          background-image: url(../images/icons-order-status.svg#icon-5)


    &.active
      color: $green-secondary
      .icon
        &-1
          background-image: url(../images/icons-order-status.svg#icon-1-green)
        &-2
          background-image: url(../images/icons-order-status.svg#icon-2-green)
        &-3
          background-image: url(../images/icons-order-status.svg#icon-3-green)
        &-4
          background-image: url(../images/icons-order-status.svg#icon-4-green)
        &-5
          background-image: url(../images/icons-order-status.svg#icon-5-green)


  &-separator
    width: 14px
    height: 2px
    background-color: $gray-900
    border-radius: 2px
    &.active
      background-color: $green-secondary

  &-accordion
    .accordion
      &-item
        border: 0 !important
      &-button
        padding: 0
        box-shadow: none !important
        &:after
          position: absolute
          top: 0
          right: 0

  &-image
    width: 43px
    height: 52px
    background: $gray-800 no-repeat center center
    background-size: cover
    margin-right: 8px
  &-xl-image
    width: 86px
    min-width: 86px
    height: 104px
    background: $gray-800 no-repeat center center
    background-size: cover
    margin-right: 12px
  &-product-name
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    &-block

  &-info-block
    width: 58%
  &-product-item
    padding: 16px 0
    border-bottom: 1px solid $gray-100
    width: auto
    &:first-child
      border-top: 1px solid $gray-100
  &-price-container
    position: absolute
    bottom: 0
    right: 0
.collapse-order-status
  position: absolute
  top: 12px
  right: 12px
  &.text-black:focus
    color: $black !important

.order-status-container
  &.open
    .order-status-items-container
      flex-direction: column !important
      .order-status-item
        text-align: center
        width: 100%
        margin-bottom: 8px
        margin-top: 16px
        &:first-child
          margin-top: 0
        &:last-child
          margin-bottom: 0
        i
          width: 30px
          height: 30px
        p
          display: block !important
      .order-status-separator
        width: 20px
        transform: rotate(90deg)

@media (min-width: 540px)
  .order-status
    &-product-item
      width: 425px
    &-item
      width: 103px
      i
        width: 30px
        height: 30px
        margin-bottom: 8px
    &-separator
      width: 23px
      height: 3px
    &-image
      width: 71px
      height: 86px
      margin-right: 12px
    &-price-container
      position: static
    &-accordion
      .accordion
        &-button
          &:after
            position: static
    &-payment-block
      width: 425px

@media (min-width: 960px)
  //.order-status
  //  &-product-item
  //    width: 721px
  //  &-xl-image
  //    width: 100px
  //    height: 119px
  //  &-product-name
  //    &-block
  //      width: 250px

@media (min-width: 1320px)
  .order-status
    &-info-block
      width: auto
    &-product-name
      &-block
        width: 250px
    &-separator
      width: 31px
      height: 3px