.placing-an-order
  &-item
    border-bottom: 1px solid $gray-100
    margin: 0 0 16px 0
    padding: 0 20px 16px 20px
    &-image
      min-width: 100px
      max-width: 100px
      width: 100px
      height: 119px
      background: $gray-800 no-repeat center center
      background-size: cover
      margin-right: 12px
    &-name
      max-height: 48px
      overflow: hidden
  &-items-container
    max-height: 468px
    overflow: hidden
    position: relative