html
  height: 100%

body
  height: 100%
  color: $black
  font-size: 15px
  line-height: 1.5

header
  flex: 0 0 auto
main
  flex: 1 0 auto
footer
  flex: 0 0 auto

@import 'UI/form-check'
@import 'UI/input'
@import 'UI/input-phone'
@import 'UI/input-password'
@import 'UI/input-datepicker'
@import 'UI/toast'

.list-circle
  list-style: none
  li
    display: flex
    &:before
      content: "" !important
      display: inline-block
      width: 8px
      height: 8px
      margin: 8px
      border-radius: 50%
      border: 1px solid $green-secondary

.col-auto
  //max-width: max-content

.ps
  &__rail
    &-x,
    &-y
      opacity: 1 !important
    &-x
      &:hover,
      &:focus,
      &.ps--clicking,
        > .ps__thumb-x,
        .ps__thumb-x
          background-color: #A7D8B6
          height: 4px
          opacity: 1 !important
  &__thumb
    &-x,
    &-y
      background-color: #A7D8B6
      border-radius: 0
    &-x
      height: 4px
      bottom: 0
    &-y
      width: 4px
      right: 0
  &--active
    &-x,
    &-y
      > .ps__rail
        &-x,
        &-y
          background-color: #F8F8F8
  &--active
    &-x
      > .ps__rail-x
        height: 4px
    &-y
      > .ps__rail-y
        width: 4px


.text-decoration-none
  text-decoration: none !important
  border-bottom: none !important

//.w
//  &-250
//    width: 250px
//  &-315
//    width: 315px
//  &-425
//    width: 425px

ol:not(.breadcrumb)
  counter-reset: listCounter
  list-style: none
  padding-left: 0
  > li
    &:before
      content: counter(listCounter) ') '
      counter-increment: listCounter

.container
  &-fluid
    padding-left: 16px
    padding-right: 16px

a
  &.text
    &-black,
    &-dark
      &:hover,
      &:focus
        color: $green-secondary !important

@media (min-width: 540px)
  .container
    &-fluid
      padding-left: 20px
      padding-right: 20px

@media (min-width: 1140px)
  .container
    &-fluid
      padding-left: 50px
      padding-right: 50px

@media (min-width: 1320px)
  .border-xxl-start
    border-left: 1px solid $gray-100 !important


.slick
  &-arrow
    display: inline-block
    width: 26px
    height: 26px
    background-color: $green-secondary
    border: none
    position: static
    margin-bottom: 0
    transform: none
    margin-left: 8px
    &:before
      content: ""
      font-family: 'coolicons' !important
    &:focus,
    &:hover
      background-color: $green
  &-prev
    &:before
      content: "\e97f"
  &-next
    &:before
      content: "\e982"

@media (min-width: 540px)
  .slick
    &-arrow
      width: 32px
      height: 32px
@media (min-width: 1320px)
  .slick
    &-arrow
      width: 32px
      height: 32px

.form
  &-select
    option
      font-family: 'montserratregular'
      font-size: 15px
      min-height: 36px

.ksht
  &-page-not-found-img
    background: url(../images/404.png) no-repeat center center
    background-size: contain
    width: 328px
    height: 179px

@media (min-width: 540px)
  .ksht
    &-page-not-found-img
      width: 436px
      height: 233px
@media (min-width: 960px)
  .ksht
    &-page-not-found-img
      width: 595px
      height: 325px

// Coming soon

.cs-footer
  padding: 28px 16px 20px 16px
  img.cs-logo
    width: 285px
    height: 44px

  .btn-outline-light
    border-color: $white
    width: 100%
    margin-bottom: 16px
    &:hover,
    &:active,
    &:focus
      background-color: $green-secondary

.cs-main
  background: url(../images/cs-mobile.jpg) no-repeat center center
  height: 400px
  width: 100%
  background-size: cover

@media (min-width: 540px)
  .cs-main
    background-image: url(../images/cs.jpg)
    height: 512px
  .btn-outline-light
    margin-right: 20px
    &:last-child
      margin-right: 0

@media (min-width: 960px)
  .cs-footer
    padding: 28px 60px 20px 60px
    img.cs-logo
      width: 465px
      height: 72px
    .btn-outline-light
      width: 148px

