html
  height: 100%
body
  height: 100%

header
  flex: 0 0 auto
main
  flex: 1 0 auto
footer
  flex: 0 0 auto


.text-decoration-none
  text-decoration: none !important
  border-bottom: none !important

.container
  &-fluid
    padding-left: 16px
    padding-right: 16px

@media (min-width: 540px)
  .container
    &-fluid
      padding-left: 20px
      padding-right: 20px

@media (min-width: 1140px)
  .container
    &-fluid
      padding-left: 60px
      padding-right: 60px