mixin TopSlider()
    .ksht-top-slider
        .carousel.slide#topSlider
            .carousel-inner
                .carousel-item.active
                    .carousel-item-content.text-white
                        p.h2 Знижка 30% на одяг Konges Slojd та LIEWOOD
                        p.p3 На хвилі стилю з улюбленими брендами
                        a.btn.btn-green-secondary.w-250(href="/catalog.html") До каталогу
                .carousel-item
                    .carousel-item-content.text-white
                        p.h2 Знижка 30% на одяг Konges Slojd та LIEWOOD
                        p.p3 На хвилі стилю з улюбленими брендами
                        a.btn.btn-green-secondary.w-250(href="/catalog.html") До каталогу
                .carousel-item
                    .carousel-item-content.text-white
                        p.h2 Знижка 30% на одяг Konges Slojd та LIEWOOD
                        p.p3 На хвилі стилю з улюбленими брендами
                        a.btn.btn-green-secondary.w-250(href="/catalog.html") До каталогу
            button.carousel-control-prev(type="button" data-bs-target="#topSlider" data-bs-slide="prev")
                i.ci-Chevron_Left
            button.carousel-control-next(type="button" data-bs-target="#topSlider" data-bs-slide="next")
                i.ci-Chevron_Right
