mixin TopSlider()
    .carousel.slide#topSlider.ksht-top-slider
        .carousel-inner
            .carousel-item.active
                .carousel-item-content.text-white
                    p.h2 Знижка 30% на одяг Konges Slojd та LIEWOOD
                    p.p3 На хвилі стилю з улюбленими брендами
                    a.btn.btn-primary(href="/catalog.html") До каталогу
            .carousel-item
            .carousel-item
        button.carousel-control-prev(type="button" data-bs-target="#topSlider" data-bs-slide="prev")
        button.carousel-control-next(type="button" data-bs-target="#topSlider" data-bs-slide="next")
