extends ../templates/layout

block main
    main
        .container-fluid.container-xxl
            section.text-center.mb-120
                h1.h2.f-medium.mb-16 Сторінку не знайдено
                p.p1.mb-28 Можливо її було видалено, або
                    span.d-block вона просто застаріла
                .ksht-page-not-found-img.mb-36.mx-auto
                a.btn.btn-primary.w-250(href="/") Повернутися назад