extends ../templates/layout

block main
    main
        section
            .container-fluid.container-xxl
                .row.align-items-center.mb-80
                    .col-12.col-md-6
                        .about-us-content
                            h2.h2.f-medium.text-secondary.text-uppercase.mb-28 РАДІ ЗНАЙОМСТВУ!
                            img.img-fluid.d-md-none(src="images/about-us-image-1.png" alt="" title="")
                            p.p1 KASHTANCHIK.COM.UA - це перший в Україні маркетплейс товарів та послуг для дітей та батьків тільки українського виробництва.<br> 150+ (на старті проекту), а надалі 600+ брендів та виробників в одному місці.
                    .col-12.col-md-6.text-end.d-none.d-md-block
                        img.img-fluid(src="images/about-us-image-1.png" alt="" title="")
                .row.align-items-center.mb-80
                    .col-12.col-md-6.d-none.d-md-block
                        img.img-fluid(src="images/about-us-image-2.png" alt="" title="")
                    .col-12.col-md-6
                        .ms-auto.about-us-content
                            h2.h2.f-medium.text-secondary.text-uppercase.mb-28 НАША МІСІЯ
                            img.img-fluid.d-md-none(src="images/about-us-image-2.png" alt="" title="")
                            p.p1 Співпраця йде тільки з локальними брендами та компаніями, з неймовірно працелюбними та талановитими майстрами своєї справи.<br> На маркетплейсі <span class="text-secondary">KASHTANCHIK.COM.UA</span> представлені товари та послуги, вручну відібрані нашою командою, що відповідають нашим цінностям, критеріям та естетикам. Ми прагнемо зробити Ваш дитячий шопінг приємним та зручним!
                .mb-80
                    h2.h2.f-medium.text-secondary.text-uppercase.text-center.mb-56 ЗАПЛАНОВАНО
                    .row.justify-content-center
                        .col-md-4.text-center.mb-12.mb-md-56
                            img.mb-8.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-11.svg" alt="" title="")
                            h3.p1.f-medium.text-uppercase.mb-8 ВІДКРИТТЯ ШОУ-РУМУ
                            p.p3 (концептуального простору)<br>у центрі Києва
                        .col-md-4.text-center.mb-12.mb-md-56
                            img.mb-8.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-1.svg" alt="" title="")
                            h3.p1.f-medium.text-uppercase.mb-8 КОЛАБОРАЦІЇ З БРЕНДАМИ<br>ТА КОМПАНІЯМИ
                        .col-md-4.text-center.mb-12.mb-md-56
                            img.mb-8.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-12.svg" alt="" title="")
                            h3.p1.f-medium.text-uppercase.mb-8 РОЗШИРЕННЯ ГЕОГРАФІЇ<br>ПРОДАЖІВ<br>ВИХІД НА РИНОК КРАЇН ЄС
                        .col-md-6.col-xxl-4.text-center.mb-12.mb-md-56
                            img.mb-8.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-2.svg" alt="" title="")
                            h3.p1.f-medium.text-uppercase.mb-8 СТВОРЕННЯ MOM'SMARKET<br>BY KASHTANCHIK
                            p.p3 Організація та регулярне проведення спеціалізованого маркету товарів та послуг для дітей для офлайн участі всіх зацікавлених брендів, що включає точки продажу, лекторії, фото та ігрову зону для дітей, дитячий фуд-хол
                        .col-md-6.col-xxl-4.text-center.mb-12.mb-md-56
                            img.mb-8.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-5.svg" alt="" title="")
                            h3.p1.f-medium.text-uppercase.mb-8 ЗАПУСК YOUTUBE КАНАЛУ
                            p.p3 Тематичні огляди дитячих товарів, інтерв'ю з експертами (дитячі лікарі, психологи, педагоги та інше), інтерв'ю з брендами-партнерами та відео огляди з виробництва, розповідь історії створення бренду та багато іншого
                    .text-center
                        img.img-fluid(src="images/about-us.jpg" alt="" title="")
                .mb-80
                    h2.h2.f-medium.text-secondary.text-uppercase.text-center.mb-56 НАШІ ЦІННОСТІ
                    .row.justify-content-center
                        .col-md-4.text-center.mb-12.mb-md-56
                            img.mb-8.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-1.svg" alt="" title="")
                            h3.p1.f-medium.text-uppercase.mb-8 ІНДИВІДУАЛЬНІСТЬ
                        .col-md-4.text-center.mb-12.mb-md-56
                            img.mb-8.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-13.svg" alt="" title="")
                            h3.p1.f-medium.text-uppercase.mb-8 ФУНКЦІОНАЛЬНІСТЬ
                        .col-md-4.text-center.mb-12.mb-md-56
                            img.mb-8.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-14.svg" alt="" title="")
                            h3.p1.f-medium.text-uppercase.mb-8 ЕКОЛОГІЧНІСТЬ
                        .col-md-4.text-center.mb-12.mb-md-56
                            img.mb-8.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-15.svg" alt="" title="")
                            h3.p1.f-medium.text-uppercase.mb-8 ВИСОКИЙ СЕРВІС
                        .col-md-4.text-center.mb-12.mb-md-56
                            img.mb-8.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-2.svg" alt="" title="")
                            h3.p1.f-medium.text-uppercase.mb-8 ЗРУЧНИЙ ТА<br>СУЧАСНИЙ ШОПІНГ
                        .col-md-4.text-center.mb-12.mb-md-56
                            img.mb-8.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-16.svg" alt="" title="")
                            h3.p1.f-medium.text-uppercase.mb-8 УНІКАЛЬНИЙ ВИБІР

                .mb-80
                    h2.h2.f-medium.text-secondary.text-uppercase.text-center.mb-56 НАША КОМАНДА
