extends ../templates/layout

block main
    main
        .container-fluid.container-xxl
            section.ksht-search-section.text-center.pt-120.pb-200
                h1.h4.f-medium.mb-16 Ваш кошик порожній
                p.p3.mb-36 Якщо хочете зробити замовлення, то перейдіть у каталог
                a.btn.btn-green-secondary.w-250(href="catalog.html") До каталогу