extends ../templates/layout
include ../atoms/input
include ../atoms/input-phone
include ../atoms/input-password
include ../atoms/input-datepicker
include ../atoms/checkbox
include ../atoms/radio

block main
    main
        .container-fluid.container-xxl
            section.mb-80
                .d-flex
                    .d-none.d-xxl-block.px-xxl-0.flex-shrink-0
                        nav.nav.nav-underline.flex-column.nav-personal-area
                            a.nav-link.active(href="contact-information.html") Контактна інформація
                            a.nav-link(href="my-orders.html") Мої замовлення
                            a.nav-link(href="wish-list.html") Список бажань
                            a.nav-link.text-dark.mt-24(href="#") Вихід
                    .border-xxl-start.w-100.ms-xxl-16
                        .d-xxl-none
                            a.nav-personal-area-button.d-flex.w-100(href="contact-information.html")
                                span Контактна інформація
                                i.ci-Chevron_Up.ms-auto
                        h1.h3.f-medium.mb-36.ms-xxl-132.d-none.d-xxl-block Контактна інформація
                        form.needs-validation.mb-16.mt-4.mt-xxl-0(novalidate)
                            .row
                                .col-12.col-xl-6.ps-xxl-132
                                    .row
                                        +Input()(class="mb-28 col-12 col-md-6 col-xl-12" id="" type="text" placeholder="Ваше ім’я" label="Ваше ім’я")
                                        +Input()(class="mb-28 col-12 col-md-6 col-xl-12" id="" type="text" placeholder="Ваше прізвище" label="Ваше прізвище")
                                        +Input()(class="mb-28 col-12 col-md-6 col-xl-12" id="" type="text" placeholder="По-батькові" label="По-батькові")
                                        +InputPhone()(class="mb-28 col-12 col-md-6 col-xl-12" id="" label="Ваш телефон" invalidFeedback="" required="true")
                                        +Input()(class="mb-28 col-12 col-md-6 col-xl-12" id="" type="e-mail" placeholder="Ваша пошта" label="Ваша пошта")
                                        +InputDatepicker()(class="mb-28 col-12 col-md-6 col-xl-12" id="sex1" placeholder="Ваша дата народження" label="Ваша дата народження")
                                        .col-12.col-md-6.col-xl-12.d-none.d-md-block
                                            button.btn.btn-green-secondary.w-100(type="submit") Зберегти
                                .col-12.col-md-6.ps-xxl-132.offset-md-6.offset-xl-0.mt-md--48.mt-xl--18
                                    p.p1.f-medium.mb-16 Зміна паролю
                                    +InputPassword()(class="mb-28" placeholder="Старий пароль")
                                    +InputPassword()(class="mb-28" placeholder="Новий пароль")
                                    +InputPassword()(class="mb-28" placeholder="Підтвердження паролю")

                                    p.text-center.p4.mb-16 Прив'яжіть до акаунта
                                    .d-flex.mb-36
                                        a.btn.btn-outline-light.text-black.py-8.w-100
                                            img.me-12(src="images/gg.png" width="34" height="34" alt="" title="")
                                            span Google
                                        a.btn.btn-outline-light.text-black.py-8.w-100
                                            img.me-12(src="images/fb.png" width="34" height="34" alt="" title="")
                                            span Facebook

                                    p.p1.f-medium.mb-16 Інформація про вашу дитину
                                    .d-flex.mb-28
                                        span Дівчинка:
                                        span.ms-8.me-20 Валерія Валерія
                                        span 22.06.2020
                                        a.text-black.ms-auto(href="#")
                                            i.ci-Close_LG

                                    p.p1.f-medium.mb-16 Інформація про дітей
                                    a.text-black.d-inline-block.mb-16(href="#") + Додати
                                    +Checkbox()(id="11" label="Я очікую дитину" class="mb-28")
                                    p.p1.f-medium.mb-16 Стать
                                    .d-flex.mb-28
                                        +Radio()(id="1" label="Хлопчик" name="sex" class="me-28")
                                        +Radio()(id="2" label="Дівчинка" name="sex")
                                    +Input()(class="mb-28" id="" type="text" placeholder="Ім’я дитини" label="Ім’я дитини")
                                    +InputDatepicker()(class="mb-28" id="sex2" placeholder="Дата народження дитини" label="Дата народження дитини")
                                .col.ps-xxl-132.d-block.d-md-none
                                    button.btn.btn-green-secondary.w-100(type="submit") Зберегти

                        .d-xxl-none
                            a.nav-personal-area-button.d-flex.w-100(href="my-orders.html")
                                span Мої замовлення
                                i.ci-Chevron_Down.ms-auto
                        .d-xxl-none
                            a.nav-personal-area-button.d-flex.w-100(href="wish-list.html")
                                span Список бажань
                                i.ci-Chevron_Down.ms-auto
                        .d-xxl-none
                            a.nav-personal-area-button.d-flex.w-100.text-dark(href="#")
                                span Вихід