extends ../templates/layout

block main
    main
        .container-fluid.container-xxl
            .text-center.mb-80
                h1.h2.f-medium.mb-28 Ведіть бізнес з  KASHTANCHIK
                a.btn.btn-green-secondary Залишити запит на співпрацю
            .text-center.mb-56
                h2.h2.text-secondary.text-uppercase Чому НАС ОБИРАЮТЬ ПАРТНЕРИ?
            .row.row-cols-1.row-cols-md-2.mb-100.p1.f-medium
                .col
                    p.mb-28 1. Швидкий та простий старт
                    p.mb-28 2. Нова аудиторія та новий канал продаж без ризиків для бізнесу
                    p.mb-28 3. Представлення Вашого бренду онлайн та офлайн
                    p.mb-28 4. Маркетингова та рекламна підтримка
                    p.mb-28 5. Генерація сучасного та продаючого контенту
                .col
                    p.mb-28 6. Автоматизована система отримання замовлень
                    p.mb-28 7. Зручний особистий кабінет
                    p.mb-28 8. Оперативний зворотний зв'язок та підтримка
                    p.mb-28 9. Надаємо аналітику та пропозиції щодо збільшеню продажів та розвитку бізнесу онлайн
            .text-center.mb-56
                h2.h2.text-secondary.text-uppercase НАШИМ ПАРТНЕРАМ МИ НАДАЄМО
            .row.justify-content-center.row-cols-xxl-4.row-cols-1
                .text-xxl-center.mb-12.mb-xxl-56
                    .d-flex.align-items-center.flex-xxl-column.mb-8.mb-xxl-0
                        img.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-1.svg" alt="" title="")
                        h3.p1.f-medium.text-uppercase.mb-0.mb-xxl-8 ІНФЛЮЄНС-МАРКЕТИНГ
                    p.p3 згадки, розпакування, розсилка подарункових боксів та рекламні інтеграції
                .text-xxl-center.mb-12.mb-xxl-56
                    .d-flex.align-items-center.flex-xxl-column.mb-8.mb-xxl-0
                        img.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-2.svg" alt="" title="")
                        h3.p1.f-medium.text-uppercase.mb-0.mb-xxl-8 УЧАСТЬ У МАРКЕТАХ
                    p.p3 Найкращі маркети України: Кураж, Київнес, Всі Свої та інші
                .text-xxl-center.mb-12.mb-xxl-56
                    .d-flex.align-items-center.flex-xxl-column.mb-8.mb-xxl-0
                        img.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-3.svg" alt="" title="")
                        h3.p1.f-medium.text-uppercase.mb-0.mb-xxl-8 РЕКЛАМА ОФЛАЙН
                    p.p3 розміщення реклами у дитячих садках, школах, медичних закладах, промо у кінотеатрах, торгових центрах, парках, дитячих розважальних центрах
                .text-xxl-center.mb-12.mb-xxl-56
                    .d-flex.align-items-center.flex-xxl-column.mb-8.mb-xxl-0
                        img.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-4.svg" alt="" title="")
                        h3.p1.f-medium.text-uppercase.mb-0.mb-xxl-8 ФОТОСЕТИ
                    p.p3 авторські тематичні та сезонні фотосети
                .text-xxl-center.mb-12.mb-xxl-56
                    .d-flex.align-items-center.flex-xxl-column.mb-8.mb-xxl-0
                        img.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-5.svg" alt="" title="")
                        h3.p1.f-medium.text-uppercase.mb-0.mb-xxl-8 ОНЛАЙН МАРКЕТИНГ НА 360
                    p.p3 Просування Ваших товарів та послуг через SMM, Google Ads, Facebook/Instagram Ads, Viber, Push, e-mail розсилки, пости та згадки у тематичних каналах Telegram
                .text-xxl-center.mb-12.mb-xxl-56
                    .d-flex.align-items-center.flex-xxl-column.mb-8.mb-xxl-0
                        img.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-6.svg" alt="" title="")
                        h3.p1.f-medium.text-uppercase.mb-0.mb-xxl-8 PR КОМПАНІЯ
                    p.p3 регулярні новини у ЗМІ, проведення вебінарів, майстер-класів, прямих ефірів, контент-маркетиг -ведення блогу та каналу в Telegram
                .text-xxl-center.mb-12.mb-xxl-56
                    .d-flex.align-items-center.flex-xxl-column.mb-8.mb-xxl-0
                        img.mb-xxl-28.me-6.me-xxl-0(src="images/cooperation-image-7.svg" alt="" title="")
                        h3.p1.f-medium.text-uppercase.mb-0.mb-xxl-8 ПРОДАЖІ БЕЗ РРО
                    p.p3 Простий і повністю легальний спосіб продавати без РРО (касовий апарат обов'язковий за законом для ФОП з 01.01.21) - робимо безготівкову оплату на р/р електронний документооберт

            .text-center.mb-56
                h2.h2.text-secondary.text-uppercase KASHTANCHIK PRODUCTION STUDIO
            .row.row-cols-1.row-cols-md-2.mb-100.p1.f-medium
                .col.order-1.order-md-0
                    .p3.d-flex.mb-28.align-items-start
                        img.me-6(src="images/cooperation-image-4.svg" alt="" title="")
                        span Ми зібрали власну креативну команду, яка займається виробництвом авторського фото- та відео-контенту, що продає:
                    .p3.d-flex.mb-28.align-items-start
                        img.me-6(src="images/cooperation-image-1.svg" alt="" title="")
                        span передпродакшен – підготовка до зйомок, створення концепції та сценарію, пошук та відбір локації та моделей
                    .p3.d-flex.mb-28.align-items-start
                        img.me-6(src="images/cooperation-image-8.svg" alt="" title="")
                        span продакшен – предметні фотосети, студійні зйомки, концептуальні фотосесії
                    .p3.d-flex.mb-28.align-items-start
                        img.me-6(src="images/cooperation-image-9.svg" alt="" title="")
                        span постпродакшен – редактура та монтаж матеріалів зі зйомки
                    p.p1.f-medium.text-uppercase.mb-28 МИ СТВОРЮЄМО:
                    .p3.d-flex.mb-28.align-items-start
                        img.me-6(src="images/cooperation-image-2.svg" alt="" title="")
                        span якісний e-commerce контент
                    .p3.d-flex.mb-28.align-items-start
                        img.me-6(src="images/cooperation-image-10.svg" alt="" title="")
                        span відображаємо емоції та природність
                .col.text-center.order-0.order-md-1
                    img.cooperation-image-ellipse.mb-16(src="images/cooperation.png" alt="" title="")