extends ../templates/cs

block main
    main
        .cs-main
    footer.bg-primary.cs-footer.text-white
        .d-flex.flex-lg-row.flex-column
            .w-100.text-lg-start.text-center.mb-16
                img.cs-logo(src="/images/logo-white.svg" alt="" title="")
            .w-lg-50.ms-lg-auto.flex-lg-shrink-0.text-lg-start.text-center.mb-lg-81.mb-28
                p.p1.mb-0 Перший в Україні маркетплейс товарів для дітей та батьків тільки українських виробників.
                p.p1.mb-0 150+ брендів на одному сайті. Старт продажів: квітень 2024!

        h1.h1.text-uppercase.text-center.fw-bold.mb-lg-81.mb-28 Маркетплейс у розробці
        .d-flex.flex-lg-row.flex-column
            .w-lg-25.text-lg-start.text-center.order-1.order-lg-0.mb-28
                p.p1 Новини про хід проекту доступні на наших офіційних аккаунтах:
                .d-flex.flex-md-row.flex-column
                    a.btn.btn-outline-light
                        img(src="images/telegram.svg" alt="" title="" width="108" height="24")
                    a.btn.btn-outline-light
                        img(src="images/instagram.svg" alt="" title="" width="116" height="24")
            .ms-lg-auto.flex-shrink-0.text-lg-start.text-center.mb-28
                p.p1.mb-8 Зв'язатися з нами:
                a.text-white(href="mailto:info@kashtanchik.com.ua") info@kashtanchik.com.ua
        .text-center.p6 © KASHTANCHIK.COM.UA 2023-2024. Всі права захищені.