extends ../templates/layout
include ../molecules/breadcrumb

block main
    main
        .container-fluid.container-xxl
            - var breadcrumb = [{name: 'Головна'}, {name: 'Обмін та повернення', active: true}]
            +Breadcrumb(breadcrumb)
            section.mb-80
                .text-xl-center.mb-36
                    h1.h4.f-medium.mb-16 Обмін та повернення
                    p.p3 Для повернення товару після покупки, уважно ознайомтеся з
                        span.d-xl-block офіційними правилами обміну та повернення
                .row.row-cols-1.row-cols-xl-2.p3
                    .col
                        .mb-36
                            h2.p1.mb-14.f-medium Як обміняти чи повернути товар?
                            p Ви можете повернути або обміняти товар протягом 14 днів після доставки замовлення. Це право гарантоване Законом України „Про захист прав споживачів”.
                        .mb-36
                            h2.p1.mb-14.f-medium Щоб повернути товар, будь ласка, переконайтеся, що:
                            ol
                                li товар складений в упаковку так само, як і при отриманні.
                                li товар не був у вжитку: відсутні сліди використання, подряпини, сколи, потертості тощо;
                                li товар не був у вжитку: відсутні сліди використання, подряпини, сколи, потертості тощо;
                                li товар складений в упаковку так само, як і при отриманні.
                        .mb-36
                            h2.p1.mb-14.f-medium Щоб повернути товар, будь ласка, переконайтеся, що:
                            ol
                                li товар складений в упаковку так само, як і при отриманні.
                                li товар не був у вжитку: відсутні сліди використання, подряпини, сколи, потертості тощо;
                                li товар не був у вжитку: відсутні сліди використання, подряпини, сколи, потертості тощо;
                                li товар складений в упаковку так само, як і при отриманні.
                        .mb-36
                            h2.p1.mb-14.f-medium Як надіслати заяву на повернення?
                            p Звернутися до оператора контакт-центру за телефонами (ХХХ) ХХХ ХХ ХХ або
                                a.text-secondary(href="mailto:customercare@kashtanchik.com.ua") customercare@kashtanchik.com.ua
                        .mb-36
                            h2.p1.mb-14.f-medium Уцінений товар обміну та поверненню не підлягає
                            p Також зверніть увагу: обміну та поверненню не підлягають подарункові сертифікати.
                            ol
                                li товар та його упаковка не були пошкоджені, всі бірки та ярлики на місці;
                                li товар не був у вжитку: відсутні сліди використання, подряпини, сколи, потертості тощо;
                                li замовлений вами товар підлягає поверненню та обміну;
                                li товар складений в упаковку так само, як і при отриманні.
                        .mb-36
                            h2.p1.mb-14.f-medium Брак та неналежна якість товару
                            p Щоб оформити обмін/повернення товару, напишіть нам листа з детальним описом ситуації, та надішліть на пошту
                                a.text-secondary(href="mailto:customercare@kashtanchik.com.ua") customercare@kashtanchik.com.ua
                                | або зв'яжіться по телефону контакт-центру для фіксації звернення (ХХХ) ХХХ ХХ ХХ
                            p Для обробки заявки на повернення/обмін нам знадобиться від 1 до 3 робочих днів.
                            p 1) У всіх випадках, коли повернення відбувається через неналежну якість або невідповідність замовлення, повернення/обмін здійснюється за наш рахунок на банківську картку.
                            p Повернення коштів здійснюється тільки після отримання та перевірки товару, який ми прийняли на повернення.
                            p Зверніть увагу: повернення та обмін товару можна здійснити лише після попереднього узгодження з нашим менеджером.
                    .col
                        .mb-36
                            h2.p1.mb-14.f-medium Які товари не підлягають поверненню/обміну?
                            p Відповідно до постанови Кабінету міністрів №172 від 19 березня 1994 р. щодо реалізації окремих положень закону України "Про захист прав споживачів", не підлягають поверненню:
                            ol
                                li товари медичного призначення: інгалятори, небулайзери, медичний одяг, молоковідсмоктувачі, бандажі, компресійна білизна тощо;
                                li дитячі підгузки;
                                li предмети гігієни;
                                li м'які чи надувні іграшки;
                                li одяг для новонароджених;
                                li товари для новонароджених (пелюшки, соски, пляшечки для годування, поїльники тощо);
                                li продукти харчування (дитячі суміші, каші, пюре тощо);
                                li парфумерно-косметичні та товари в аерозольній упаковці;
                                li постільна білизна, рушники, покривала, пледи;
                                li подушки, ковдри;
                                li зубні щітки, бритви, гребінці, інструменти для манікюру, педикюру;
                                li зубні щітки, бритви, гребінці, інструменти для манікюру, педикюру;
                                li нижню білизну, боді, панчішно-шкарпеткові вироби;
                                li нічні сорочки, халати, піжами, домашні костюми;
                                li рукавички, рукавиці.
                        .mb-36
                            h2.p1.mb-14.f-medium Як надіслати заяву на повернення?
                            p Звернутися до оператора контакт-центру за телефонами (ХХХ) ХХХ ХХ ХХ або
                                a.text-secondary(href="mailto:customercare@kashtanchik.com.ua") customercare@kashtanchik.com.ua
                        .mb-36
                            h2.p1.mb-14.f-medium Правила повернення техніки та товарів на гарантії від виробника
                            ol
                                li при виникненні гарантійного випадку звертайтесь до авторизованого виробником сервісного центру. Контакти сервісних центрів ви знайдете у гарантійному талоні;
                                li якщо товар на гарантійному терміні вийшов з ладу з вини виробника і не може бути відремонтований сервісним центром, ми замінимо товар або повернемо його повну вартість.
                        .mb-36
                            h2.p1.mb-14.f-medium Для цього вам необхідно надати:
                            ol
                                li Товар у повній комплектації.
                                li Гарантійний талон.
                                li Чек, підтверджуючий покупку в нашому магазині.
                                li Рішення сервісного центру, що підтверджує брак товару.
                            p Перед здійсненням процедури необхідно заповнити бланк повернення (ссылка на скачивание). Для коректного оформлення повернення всі поля заяви повинні бути заповнені.