extends ../templates/layout
include ../organisms/order-status
include ../organisms/order-status-after

block main
    main
        .container-fluid.container-xxl
            section.mb-80
                .d-flex
                    .d-none.d-xxl-block.px-xxl-0.flex-shrink-0
                        nav.nav.nav-underline.flex-column.nav-personal-area
                            a.nav-link(href="contact-information.html") Контактна інформація
                            a.nav-link.active(href="my-orders.html") Мої замовлення
                            a.nav-link(href="wish-list.html") Список бажань
                            a.nav-link.text-dark.mt-24(href="#") Вихід
                    .border-xxl-start.w-100.ms-16
                        .d-xxl-none
                            a.nav-personal-area-button.d-flex.w-100(href="contact-information.html")
                                span Контактна інформація
                                i.ci-Chevron_Down.ms-auto
                        h1.h3.f-medium.mb-36.ms-xxl-132.d-none.d-xxl-block Мої замовлення
                        .d-xxl-none
                            a.nav-personal-area-button.d-flex.w-100(href="my-orders.html")
                                span Мої замовлення
                                i.ci-Chevron_Up.ms-auto
                        .ms-xxl-132
                            p.p1.f-medium.mb-18 Ваше нинішні замовлення
                            +OrderStatus()
                            +OrderStatus()
                            p.p1.f-medium.mb-28 Інші замовлення
                            +OrderStatusAfter(0)
                            +OrderStatusAfter(1)
                            +OrderStatusAfter(2)
                        .d-xxl-none
                            a.nav-personal-area-button.d-flex.w-100(href="wish-list.html")
                                span Список бажань
                                i.ci-Chevron_Down.ms-auto
                        .d-xxl-none
                            a.nav-personal-area-button.d-flex.w-100.text-dark(href="#")
                                span Вихід