extends ../templates/layout
include ../molecules/breadcrumb

block main
    main
        .container-fluid.container-xxl
            - var breadcrumb = [{name: 'Головна'}, {name: 'Публічна пропозиція (ОФЕРТА)', active: true}]
            +Breadcrumb(breadcrumb)
            section.mb-80
                .text-center.mb-28
                    h1.h4.f-medium.mb-16 ПУБЛІЧНА ПРОПОЗИЦІЯ (ОФЕРТА)
                    p.p1.f-medium укладення електронного договір купівлі-
                        span.d-block продажу товарів
                .p4.mb-28
                    p.mb-8 Відповідно до статті 641 Цивільного процесуального кодексу України «Продавець пропонує невизначеному колу осіб (далі по тексту – «Покупці», а разом із Продавцем – «Сторони», а кожна окремо – «Сторона») укласти договір купівлі-продажу товарів (далі по тексту – «Договір») на зазначених нижче умовах.
                    p.mb-8 Договір є публічним в розумінні статті 633 Цивільного кодексу України, тобто таким, що встановлює однакові для всіх споживачів умови та не надає переваги одному споживачеві перед іншим, а також договором приєднання в розумінні статті 634 Цивільного кодексу України, тобто укладається виключно шляхом приєднання (акцепту) іншої сторони до його умов без можливості пропонування власних умов.
                    p.mb-8 Приєднуючись до Договору, Покупець підтверджує, що повністю ознайомився з умовами Договору, не має будь-яких заперечень та/або застережень щодо умов Договору, безумовно погоджується з умовами Договору і зобов’язується дотримуватися умов Договору.
                    p.mb-8 Договір вважається укладеним в письмовій (електронній) формі з моменту його акцептування Покупцем, без підписання Сторонами Договору на паперових носіях.
                h2.text-uppercase.p3.f-medium.mb-14 1. ПРЕДМЕТ ДОГОВОРУ
                .p4.mb-28
                    p.mb-8 1.1.За Договором Продавець зобов’язується передати у власність Покупця товар, асортимент, характеристики та детальний опис яких представлений на сайті https://kashtanchik.com.ua/ (далі по тексту – «Товар»), а Покупець прийняти його та оплатити в порядку та на умовах Договору.
                    p.mb-8 1.2. Право власності на Товар переходить до Покупця Товару в момент передачі Товару після повної оплати Покупцем вартості Товару в порядку та на умовах, встановлених цим Договором.
                h2.text-uppercase.p3.f-medium.mb-14 2. ПОРЯДОК УКЛАДЕННЯ ДОГОВОРУ
                .p4.mb-28
                    p.mb-8 2.1.Покупець укладає із Продавцем Договір шляхом оформлення замовлення на обраний ним Товар на https://kashtanchik.com.ua/ послідовним виконанням усіх наступних дій:
                    p.mb-8 2.1.1. Обрання на власний розсуд запропонованого до продажу Товару;
                    p.mb-8 2.1.2. Натискання кнопки «Додати в кошик»;
                    p.mb-8 2.1.3. Введення у розділі «Ваше замовлення» ідентифікаційних даних про Покупця («Ваше ім’я», «Ваш Email», «Ваш номер телефону»);
                    p.mb-8 2.1.4. Натискання кнопки «Оформити замовлення»;
                    p.mb-8 2.1.5. Здійснення оплати Товару в один із передбачених Договором способів.
                    p.mb-8 2.2. Договір вважається укладеним після оплати Покупцем вартості обраного ним Товару.
                    p.mb-8 2.3.На підтвердження укладення та виконання Договору Продавець під час передачі Товару видає Покупцю товарний чек.
                h2.text-uppercase.p3.f-medium.mb-14 3. ЦІНА ДОГОВОРУ ТА ПОРЯДОК РОЗРАХУНКІВ
                .p4.mb-28
                    p.mb-8 3.1. Ціна на Товар вказана в національній валюті України (гривня) за одиницю Товару.
                    p.mb-8 3.2. Ціна Договору визначається як загальна вартість обраного та оплаченого Покупцем Товару на сайті https://kashtanchik.com.ua/.
                    p.mb-8 3.3. Покупець зобов’язаний оплатити Товар за цінами, що вказані на сайті https://kashtanchik.com.ua/. Продавець має право змінювати ціну Товару виключно до моменту укладення Договору.
                    p.mb-8 3.4. Оплата Товару здійснюється на умовах повної попередньої оплати одним із зазначених нижче способів:
                    p.mb-8 3.4.1. Через сервіс «Приват24»;
                    p.mb-8 3.4.2. Готівкою через термінал «ПриватБанку»;
                    p.mb-8 3.4.3. Сервісом «Visa Checkout»;
                    p.mb-8 3.4.4. Через електронний гаманець «MasterPass»;
                    p.mb-8 3.4.5. Кредитною карткою.
                    p.mb-8 3.5. Датою оплати Покупцем вартості Товару вважається дата надходження відповідної суми грошових коштів на рахунок Продавця.
                    p.mb-8 3.6. Вартість доставки Товару не входить до ціни Договору.
                h2.text-uppercase.p3.f-medium.mb-14 4. ЦІНА ДОГОВОРУ ТА ПОРЯДОК РОЗРАХУНКІВ
                .p4.mb-28
                    p.mb-8 4.1. Продавець зобов’язаний:
                    p.mb-8 4.1.1. Надати Покупцю повну та достовірну інформацію про Товар, а також його вартість шляхом розміщення цієї інформації на сайті https://kashtanchik.com.ua/.
                    p.mb-8 4.1.2. Передати Покупцеві Товар у відповідності до умов цього Договору.
                    p.mb-8 4.1.3. Не розголошувати будь-яку персональну інформацію про Покупця і не надавати доступ до цієї інформації третім особам, за винятком випадків, передбачених законодавством та на виконання цього Договору.
                    p.mb-8 4.1.4. Виконувати інші положення цього Договору, а також Цивільного кодексу України, Закону України «Про захист прав споживачів», Закону України «Про електронну комерцію» та інших нормативно-правових актів в частині, що не врегульована цим Договором.
                    p.mb-8 4.2. Продавець має право:
                    p.mb-8 4.2.1  Змінювати умови Договору, а також ціни на Товари в односторонньому порядку, розміщуючи їх на сайті https://kashtanchik.com.ua/, виключно до моменту укладення Договору із Покупцем. Всі зміни набувають чинності з моменту їх публікації.
                    p.mb-8 4.2.2. В односторонньому порядку призупинити виконання своїх зобов’язань за цим Договором у випадку порушення Покупцем умов цього Договору.
                    p.mb-8 4.2.3. Вимагати від Покупця виконання зобов’язань, покладених на нього, згідно з умовами цього Договору.
                    p.mb-8 4.3. Покупець зобов'язується:
                    p.mb-8 4.3.1. До моменту укладення Договору ознайомитися з умовами Договору і цінами, запропонованими Продавцем на сайті https://kashtanchik.com.ua/.
                    p.mb-8 4.3.2. Повідомити всі необхідні дані, що ідентифікують Покупця та достатні для доставки Покупцеві замовленого Товару.
                    p.mb-8 4.3.3. В порядку та на умовах, встановлених цим Договором, оплатити і прийняти замовлений Товар.
                    p.mb-8 4.3.4. Виконувати інші положення цього Договору, а також Цивільного кодексу України, Закону України «Про захист прав споживачів», Закону України «Про електронну комерцію» та інших нормативно-правових актів в частині, що не врегульована цим Договором.
                    p.mb-8 4.4. Покупець має право:
                    p.mb-8 4.1.1. Вимагати від Продавця виконання умов цього Договору.
                    p.mb-8 4.4.2. На нерозголошення Продавцем персональних даних Покупця.
                    p.mb-8 4.4.3. На гарантійне обслуговування та заміну Товару згідно з умовами цього Договору.
                h2.text-uppercase.p3.f-medium.mb-14 5. ДОСТАВКА ТОВАРУ
                .p4.mb-28
                    p.mb-8 5.1. Протягом 24 годин з моменту укладення Договору на вказаний під час ідентифікації номер телефону Покупця здійснюється дзвінок менеджером Продавця з метою уточнення деталей замовлення, адреси та способу доставки Товару, його отримувача. В разі укладення Договору у вихідний або святковий день, згаданий у цьому пункті строк відраховується з першого робочого дня після вихідного або святкового дня.
                    p.mb-8 5.2. У випадку фактичної відсутності Товару у Продавця менеджер останнього повідомляє Покупця про цю обставину, а вартість Товару, оплачена Покупцем, повертається на банківську картку Покупця.
                    p.mb-8 5.3. Доставка Покупцю Товару здійснюється одним із способів, що передбачений на сайті https://kashtanchik.com.ua/:
                    p.mb-8 5.3.1. Кур'єрська доставка по місті Києві;
                    p.mb-8 5.3.2. Доставка по Україні до дверей або пункту видачі кур'єрською службою НОВА ПОШТА;
                    p.mb-8 5.3.3. Доставка по світу будь-якою зручною експрес-поштою: DHL, Pony Express, UPS Express та ін.
                    p.mb-8 5.4. Передача Продавцем перевізнику/кур’єрській службі/пошті Товару здійснюється протягом 24 годин з моменту підтвердження Покупцем менеджерові Продавця адреси та способу доставки (крім вихідних та святкових днів).
                    p.mb-8 5.5. Вартість та строк доставки визначається внутрішніми правилами та тарифами обраного Покупцем перевізника/кур’єрської служби/пошти.
                h2.text-uppercase.p3.f-medium.mb-14 6. ГАРАНТІЙНІ ЗОБОВ’ЯЗАННЯ ПРОДАВЦЯ
                h2.text-uppercase.p3.f-medium.mb-14 7. ПОВЕРНЕННЯ ТОВАРУ
                .p4.mb-28
                    p.mb-8 7.1. Повернення Товару здійснюється у відповідності із чинним законодавством України.
                    p.mb-8 7.2 .Товари, які є ювелірними виробами з дорогоцінних металів, дорогоцінного каміння, дорогоцінного каміння органогенного утворення та напівдорогоцінного каміння, поверненню не підлягають згідно з Переліком товарів належної якості, що не підлягають обміну (поверненню), затвердженим постановою Кабінету Міністрів України від 19 березня 1994 р. N 172 «Про реалізацію окремих положень Закону України «Про захист прав споживачів».
                    p.mb-8 7.3. Повернення, обмін товарів іншої категорії проводиться відповідно до Закону України «Про захист прав споживачів», якщо товар не був використаний, збережено товарний вигляд, його споживчі властивості, всі аксесуари, оригінальні ярлики, не порушено пакування і з моменту отримання Покупцем минуло не більше 14 днів.
                    p.mb-8 7.4. Протягом 30 діб з моменту повернення Товару Продавець зобов’язаний повернути Покупцеві сплачені за нього кошти. Вартість Товару сплачується шляхом банківського переказу на рахунок Покупця, який Покупець зобов’язується сповістити Продавцю під час повідомлення Продавця про повернення Товару.
                h2.text-uppercase.p3.f-medium.mb-14 8. КОНФІДЕНЦІЙНІСТЬ ТА ЗАХИСТ ПЕРСОНАЛЬНИХ ДАНИХ
                .p4.mb-28
                    p.mb-8 8.1. Надаючи свої персональні дані на сайті https://kashtanchik.com.ua/при ідентифікації та під час вибору способу та адреси доставки, Покупець надає Продавцеві свою добровільну згоду на обробку, використання (у тому числі і передачу) своїх персональних даних, а також вчинення інших дій, передбачених Законом України «Про захист персональних даних», без обмеження терміну дії такої згоди.
                    p.mb-8 8.2. Продавець зобов'язується не розголошувати отриману від Покупця інформацію. Не вважається порушенням надання Продавцем інформації контрагентам і третім особам, що діють на підставі договору з Продавцем для виконання зобов'язань перед Покупцем, а також у випадках, коли розкриття такої інформації встановлено вимогами чинного законодавства України.
                h2.text-uppercase.p3.f-medium.mb-14 9. ВІДПОВІДАЛЬНІСТЬ СТОРІН
                .p4.mb-28
                    p.mb-8 9.1. Сторони несуть відповідальність за невиконання та неналежне виконання умов Договору в порядку передбаченому чинним законодавством України.
                    p.mb-8 9.2. Продавець не несе відповідальності за неналежне, несвоєчасне виконання Договору і своїх зобов’язань у випадку надання Покупцем недостовірної або помилкової інформації під час ідентифікації Покупця на сайті https://kashtanchik.com.ua/та під час повідомлення адреси, способу доставки, отримувача Товару менеджерові Продавця.
                    p.mb-8 9.3. У разі настання обставин непереборної сили Сторони звільняються від виконання умов цього Договору. Під обставинами непереборної сили для цілей цього Договору розуміються події, що мають надзвичайний, непередбачуваний характер, які виключають або об’єктивно заважають виконанню цього Договору, настання яких Сторони не могли передбачити та запобігти розумними способами.
                    p.mb-8 9.4. Сторони докладають максимум зусиль для вирішення будь-яких розбіжностей лише шляхом переговорів.
                h2.text-uppercase.p3.f-medium.mb-14 10. СТРОК ДІЇ ДОГОВОРУ ТА ПОРЯДОК ЙОГО РОЗІРВАННЯ
                .p4.mb-28
                    p.mb-8 10.1. Цей Договір діє до моменту видачі Товару Покупцеві або до моменту його розірвання, за датою, яка настане раніше.
                    p.mb-8 10.2. До закінчення строку дії цей Договір може бути розірваний за взаємною згодою Сторін до моменту фактичного отримання Товару.
                    p.mb-8 10.3. Сторони мають право розірвати цей Договір в односторонньому порядку, у випадку невиконання однією із Сторін умов цього Договору та у випадках, передбачених цим Договором і чинним законодавством України.
                h2.text-uppercase.p3.f-medium.mb-14 11. АДРЕСА ТА РЕКВІЗИТИ ПРОДАВЦЯ
                .p4.mb-28
                    p.mb-8 Найменування одержувача: ФОП Нікітюк Данило Володимирович
                    p.mb-8 Код одержувача: 3429002695