extends ../templates/layout
include ../molecules/breadcrumb

block main
    main
        .container-fluid.container-xxl
            - var breadcrumb = [{name: 'Головна'}, {name: 'Способи оплати', active: true}]
            +Breadcrumb(breadcrumb)
            section.mb-80
                h1.h4.f-medium.mb-36 Оплата та доставка
                .row.row-cols-1.row-cols-md-2.mb-56
                    .col
                        p.p1.f-medium.mb-14 Способи оплати
                        p.p3 Безготівковий розрахунок картою Visa або
                            span.d-block Mastercard на сайті через LiqPay.
                        .d-flex.align-items-center.p1.f-medium.mb-14
                            img.me-10(src="images/payment-methods-image-1.svg" alt="" title="")
                            p.mb-0 Післяплата у віділеннях Нової Пошти.
                        p.p3 Звертаємо вашу увагу, що при оформленні замовлення зі способом оплати “післяплата”, вартість доставки сплачується перед відправкою. Додатково при отриманні може стягуватися комісія відповідно до тарифів кур’єрської служби Нова Пошта.
                    .col
                        .d-flex.align-items-center.p1.f-medium.mb-14
                            img.me-10(src="images/payment-methods-image-1.svg" alt="" title="")
                            p.mb-0 Оплата міжнародних замовлень
                        p.p3.mb-8 Ви можете сплатити будь-якою банківською карткою Visa або Mastercard. Сума оплати списується в валюті вашої банківської картки за актуальним на поточний момент курсом валют, тому фактична сума списання може незначно відрізнятися від зазначеної суми на сайті.
                        p.p3.mb-8 Якщо вам не вдалося оплатити замовлення з технічних причин, будь ласка, напишіть нам на info@kashtanchik.com.ua, і ми оперативно вирішимо ваше питання.
                h2.h4.f-medium.mb-36 Доставка
                .row.row-cols-1.row-cols-md-2.mb-28
                    .col
                        p.p3.mb-8 Безкоштовна доставка для всіх замовлень від 2000 грн. Мінімальна сума замовлення 500 грн.
                        p.p3.mb-8 Дізнатись точну вартість доставки можна при оформленні замовлення, вказавши Вашу адресу, калькулятор розрахує вартість.
                        p.p3.mb-8 Вибирайте зручний спосіб доставки, а ми подбаємо про інше. Перевіримо терміни придатності всіх продуктів, запакуємо замовлення в екологічну упаковку і, якщо потрібно, зробимо подарункове оформлення.
                .row.row-cols-1.row-cols-md-2.mb-28
                    .col
                        .d-flex.align-items-center.p1.f-medium.mb-14
                            img.me-10(src="images/payment-methods-image-2.svg" alt="" title="")
                            p.mb-0 Кур’єром по Україні
                        p.p3.mb-8 Безкоштовна доставка для всіх замовлень від 2000 грн. Мінімальна сума замовлення 500 грн.
                        p.p3.mb-8 Дізнатись точну вартість доставки можна при оформленні замовлення, вказавши Вашу адресу, калькулятор розрахує вартість.
                    .col
                        .d-flex.align-items-center.p1.f-medium.mb-14
                            img.me-10(src="images/payment-methods-image-3.svg" alt="" title="")
                            p.mb-0 Нова Пошта (Самовивіз)
                        p.p3.mb-8 Стандартні замовлення (об'ємною або фактичною вагою до 30 кг) до відділень та поштоматів Нової Пошти.
                .row.row-cols-1.row-cols-md-2.mb-28
                    .col
                        .d-flex.align-items-center.p1.f-medium.mb-14
                            img.me-10(src="images/payment-methods-image-4.svg" alt="" title="")
                            p.mb-0 Умови доставки великогабаритних замовлень
                        p.p3.mb-8 (об'ємною або фактичною вагою від 30 кг)
                .row.row-cols-1.row-cols-md-2.mb-56
                    .col
                        p.p3.mb-8 Формула розрахунку об'ємної ваги:
                        p.p3.mb-8 довжина (см) × ширина (см) × ; висота (см) / 4000 = об'ємна вага (кг).
                        p.p3.mb-8 Вартість доставки по Україні: 30-50 кг – 200 грн за кг, 50-100 кг – 250 грн за кг
                        p.p3.mb-8 Підйом на поверх в разі відсутності вантажного ліфта оплачується окремо - згідно з тарифами перевізника (20-60 грн/поверх).
                    .col
                        p.p3.mb-8 Зверніть увагу: ліжечка, коляски, комоди поставляються і відвантажуються зі складу в розібраному вигляді. Послуга збирання товару з комплектуючих відсутня.
                        p.p3.mb-8 Умови доставки води: Доставка бутильованої води об'ємом до 12 л здійснюється на загальних умовах. Доставка води, загальний об'єм якої перевищує 12 л, оплачується з розрахунку 10 грн/л.
                h2.h4.f-medium.mb-36 Доставка в інші країни
                .row.row-cols-1.row-cols-md-2.mb-56
                    .col
                        .d-flex.align-items-center.p1.f-medium.mb-14
                            img.me-10(src="images/payment-methods-image-5.svg" alt="" title="")
                            p.mb-0 Express (до 12 днів):
                        p.p3.mb-8 Замовлення до 400 USD. Доставка ~€70
                        p.p3.mb-28 Замовлення від 400 USD. Доставка ~€40
                        p.p1.f-medium.mb-14 Standard (14-21 днів):
                        p.p3.mb-8 Замовлення до 400 USD. Доставка ~€25
                        p.p3.mb-8 Замовлення від 400 USD. Доставка ~€30
                    .col
                        p.p3.mb-8 Міжнародна доставка можлива лише за умови 100% оплати замовлення. Наш онлайн-консультант допоможе вам підібрати розмір: за необхідністю ми зробимо заміри речей, фото та відео.
                            b Важливо! Терміни доставки не залежать від нас і можуть подовжуватись у зв’язку з воєнним станом.
                        p.p3.mb-8 Ми приймаємо будь-які банківські картки Visa, Mastercard або American Express у будь-якій валюті. Сума оплати списується у валюті вашої банківської картки за актуальним на момент