extends ../templates/layout

block main
    main
        .container-fluid.container-xxl
            section.text-center.pt-120.pb-200
                h1.h4.f-medium.mb-16 Не вдалося здійснити оплату
                p.p3.mb-36 Якщо ваші платежі не проходять, зазвичай проблема пов'язана
                    span.d-block з платіжною карткою. Перевірте вашу банківську картку, на
                    span.d-block наявність коштів, а також перевірте правильність введення
                    span.d-block даних на сайті
                a.btn.btn-green-secondary.w-315(href="/") Повернутися до замовлення