extends ../templates/layout

block main
    main
        .container-fluid.container-xxl
            section.text-center.pt-120.pb-200
                h1.h4.f-medium.mb-16 Дякуємо за ваше замовлення!
                p.p3.mb-28 Окрема подяка за те, що підтримуєте українське!
                p.text-dark.p1.mb-16.f-medium Номер вашого замовлення:
                p.h3.f-medium.text-primary.mb-28 15363865340-0780
                p.p3.mb-28 Ми надішлемо вам повідомлення для підтвердження замовлення
                    span.d-block з подробицями і інформацією для відстеження.
                a.btn.btn-green-secondary.w-315(href="/") Відстежити замовлення