extends ../templates/layout
include ../molecules/breadcrumb
include ../molecules/product-priview-item
include ../organisms/catalog-filters
include ../atoms/sort-select
include ../organisms/pagination

block main
    main
        .container-fluid.container-xxl
            - var breadcrumb = [{name: 'Хлопчикам'}, {name: 'Сорочки', active: true}]
            +Breadcrumb(breadcrumb)
            section.mb-80.search-section
                .d-flex.flex-column
                    .d-flex.mb-16.align-items-center.flex-column.flex-md-row.order-1.order-md-0.search-header-container
                        h1.h4.f-medium.mb-16.mb-md-0 Результати пошуку
                        .row.row-cols-2.row-cols-md-1.ms-md-auto.search-buttons-container
                            .d-md-none
                                a.btn.btn-outline-dark.w-100.rounded.py-13 Фільтри
                            .ms-auto
                                +SortSelect()
                    p.p3.mb-28.order-0.order-md-1.pb-12.pb-md-0.text-dark.search-find-text Результати пошуку за запитом «вав». Знайдено 18 товарів.
                .row
                    .col-md-4.col-xxl-3.col-12.d-none.d-md-block
                        +CatalogFilters()
                    .col-md-8.col-xxl-9.col-12
                        .row.row-cols-xxl-4.row-cols-2.row-cols-lg-3
                            - var items = [{image: '',name: 'Новорічниай одяг для вашого малюка',price: '1200 ₴', oldPrice: '1785 ₴', isNew: true, salePercent: '-30%', isEnd: true},{image: '',name: 'Новорічниай одяг для вашого малюка',price: '1200 ₴', oldPrice: '1785 ₴', salePercent: '-30%'}, {image: '',name: 'Новорічниай одяг для вашого малюка',price: '1200 ₴', oldPrice: '1785 ₴', isChestnut: true}, ]
                            each item in [...items, ...items, ...items]
                                .col
                                    +ProductPreviewItem(item)(href="product.html")
                        .text-center
                            a.btn.btn-green-secondary.w-250 Дивитися ще
                        +Pagination()