extends ../templates/layout
include ../molecules/product-priview-item

block main
    main
        .container-fluid.container-xxl
            section.mb-80
                .row.row-cols-5
                    - var items = [{image: '',name: 'Новорічниай одяг для вашого малюка',price: '1200 ₴', oldPrice: '1785 ₴', isNew: true, salePercent: '-30%', isEnd: true},{image: '',name: 'Новорічниай одяг для вашого малюка',price: '1200 ₴', oldPrice: '1785 ₴', salePercent: '-30%'}, {image: '',name: 'Новорічниай одяг для вашого малюка',price: '1200 ₴', oldPrice: '1785 ₴', isChestnut: true}, ]
                    each item in [...items, ...items, ...items]
                        .col
                            +ProductPreviewItem(item)(href="product.html")
                .text-center
                    a.btn.btn-green-secondary.w-250 Дивитися ще