extends ../templates/layout

block main
    main
        .container-fluid.container-xxl
            section.ksht-search-section.text-center.pt-120.pb-200
                i.ci-Heart_01.mb-28.d-inline-block.icon-size-64
                h1.h4.f-medium.mb-16 Ви не додали до обраних жодного товару
                p.p3.mb-36 Щоб додати до обраного, натискайте на іконку у вигляді серця
                a.btn.btn-green-secondary.w-250(href="/") Пеерейти на головну