extends ../templates/layout
include ../molecules/product-priview-item
include ../organisms/pagination

block main
    main
        .container-fluid.container-xxl
            section.mb-80
                h1.h3.f-medium.mb-28 Список бажань
                .row.row-cols-lg-5.row-cols-md-4.row-cols-2
                    - var items = [{image: '',name: 'Новорічниай одяг для вашого малюка',price: '1200 ₴', oldPrice: '1785 ₴', isNew: true, salePercent: '-30%', isEnd: true, isFavorite: true},{image: '',name: 'Новорічниай одяг для вашого малюка',price: '1200 ₴', oldPrice: '1785 ₴', salePercent: '-30%', isFavorite: true}, {image: '',name: 'Новорічниай одяг для вашого малюка',price: '1200 ₴', oldPrice: '1785 ₴', isChestnut: true, isFavorite: true}, ]
                    each item in [...items, ...items, ...items]
                        .col
                            +ProductPreviewItem(item)(href="product.html")
                .text-center
                    a.btn.btn-green-secondary.w-250 Дивитися ще
                .row.row-cols-md-1.row-cols-xxl-3.align-items-center.d-flex
                    .d-none.d-xxl-block
                    +Pagination()
                    span.text-end.text-dark.d-none.d-xxl-block Знайдено 1344 товарів