extends ../templates/layout
include ../molecules/product-priview-item
include ../organisms/pagination

block main
    main
        .container-fluid.container-xxl
            section.mb-80
                .d-flex
                    .d-none.d-xxl-block.px-xxl-0.flex-shrink-0
                        nav.nav.nav-underline.flex-column.nav-personal-area
                            a.nav-link(href="contact-information.html") Контактна інформація
                            a.nav-link(href="my-orders.html") Мої замовлення
                            a.nav-link.active(href="wish-list.html") Список бажань
                            a.nav-link.text-dark.mt-24(href="#") Вихід
                    .border-xxl-start.w-100.ms-xxl-16
                        .d-xxl-none
                            a.nav-personal-area-button.d-flex.w-100(href="contact-information.html")
                                span Контактна інформація
                                i.ci-Chevron_Down.ms-auto
                        h1.h3.f-medium.mb-36.ms-xxl-65.d-none.d-xxl-block Список бажань
                        .d-xxl-none
                            a.nav-personal-area-button.d-flex.w-100(href="my-orders.html")
                                span Мої замовлення
                                i.ci-Chevron_Down.ms-auto
                        .d-xxl-none
                            a.nav-personal-area-button.d-flex.w-100(href="wish-list.html")
                                span Список бажань
                                i.ci-Chevron_Up.ms-auto
                        .ms-xxl-65.row.row-cols-lg-4.row-cols-md-3.row-cols-2
                            - var items = [{image: '',name: 'Новорічниай одяг для вашого малюка',price: '1200 ₴', oldPrice: '1785 ₴', isNew: true, salePercent: '-30%', isEnd: true, isFavorite: true},{image: '',name: 'Новорічниай одяг для вашого малюка',price: '1200 ₴', oldPrice: '1785 ₴', salePercent: '-30%', isFavorite: true}, {image: '',name: 'Новорічниай одяг для вашого малюка',price: '1200 ₴', oldPrice: '1785 ₴', isChestnut: true, isFavorite: true}, ]
                            each item in [...items, ...items, ...items]
                                .col
                                    +ProductPreviewItem(item)(href="product.html")
                        .ms-xxl-65
                            .text-center.mb-16
                                a.btn.btn-green-secondary.w-250 Дивитися ще
                            .row.row-cols-md-1.row-cols-xxl-3.align-items-center.d-none.d-md-flex
                                .d-none.d-xxl-block
                                +Pagination()
                                span.text-end.text-dark.d-none.d-xxl-block Знайдено 1344 товарів
                        .d-xxl-none
                            a.nav-personal-area-button.d-flex.w-100.text-dark(href="#")
                                span Вихід