block variables
- let path = self.htmlWebpackPlugin.options

doctype html
html(lang="uk")
    include ../organisms/head
    head
        +head(path.file)
        block head
    body.d-flex.flex-column
        include ../organisms/header-short
        block main
        include ../organisms/footer
        script(src="js/jquery.min.js" charset="UTF-8")
        script(src="js/popper.min.js" charset="UTF-8")
        script(src="js/bootstrap.min.js" charset="UTF-8")
        script(src="js/bootstrap-datepicker.min.js" charset="UTF-8")
        script(src="js/bootstrap-datepicker.uk.js" charset="UTF-8")
        script(src="js/perfect-scrollbar.min.js" charset="UTF-8")
        script(src="js/dotdotdot.js" charset="UTF-8")
        script(src="js/slick.min.js" charset="UTF-8")
        script(src="js/intlTelInput-jquery.min.js" charset="UTF-8")
        script(src="js/button-scroll-to-top.js" charset="UTF-8")
        script(src="js/scroll-toggle-menu.js" charset="UTF-8")
        script(src="js/select-js.js" charset="UTF-8")
        script(src="js/common.js" charset="UTF-8")
        block scripts
