block variables
- let path = self.htmlWebpackPlugin.options

doctype html
html(lang="uk")
	include ../organisms/head
	head
		+head(path.file)
		block head
	body.d-flex.flex-column
		include ../organisms/header
		block main
		include ../organisms/footer
		script(src="//unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.uk.min.js" charset="UTF-8")
		block scripts
