mixin IconDelivery(text1, text2, iconClass)
    .d-flex.align-items-center.delivery-item
        .icon-delivery(class= iconClass)
        div
            p.p2.f-medium= text1
            span.p6= text2