mixin InputCounter()
    .input-group.input-counter
        button.btn.btn-outline-light.border-end-0.text-black
            i.ci-Remove_Minus
        input.form-control.border-end-0.border-start-0.text-center.f-medium(value="1")
        button.btn.btn-outline-light.border-start-0.text-black
            i.ci-Add_Plus