mixin SelectTwoText(data)
    .select-container(class= attributes.class)
        if attributes.label
            label.form-label(for= attributes.id)= attributes.label
        select(name="" id= attributes.id placeholder= attributes.placeholder data-label= attributes.labelInSelect)
            for option in data
                option(value= option.value data-text= option.text disabled= option.disabled selected= option.selected)= option.value