mixin SortSelect()
    .select-container
        select.form-select.ps-0
            option(selected) Рекомендовані вам
            option(value="1") Найновіщі
            option(value="2") Найдешевші
            option(value="3") Найдородчі