mixin SortSelect()
    select.form-select.border-top-0.border-start-0.border-end-0.ps-0
        option(selected) Рекомендовані вам
        option(value="1") Найновіщі
        option(value="2") Найдешевші
        option(value="3") Найдородчі