include ../atoms/input-counter

mixin BasketItem(data)
    .d-flex.align-items-center.mb-16.ksht-basket-item
        .me-6.me-sm-8.me-xxl-16.ksht-basket-item-check.pb-16
            .form-check
                input.form-check-input.form-circle-check-input(type="checkbox" value="" id="flexCheck" + data.index)
                label.form-check-label(for="flexCheck" + data.index)
        .col
            .pb-16.border-bottom
                .d-flex
                    .ksht-basket-item-image.me-8.me-xxl-16(style="background-image: url(" + data.image + ")")
                        a.ksht-add-to-favorites(href="#")
                            i(class= (data.isFavorite ? 'ci-Heart_Fill_01' : 'ci-Heart_01'))
                    .flex-fill.position-relative
                        .d-flex.flex-column.h-100
                            div(class={'text-dark': data.isNone})
                                p.p2.f-medium.dotdotdot-name.ksht-basket-item-name.mb-4.mb-xxl-8 Chamonix Floral Snowsuit Violet Grape Violet Grape Violet Grape Violet Grapeeeee Grape Violet Grape Violet Grapeeeee
                                p.p3.text-dark.mb-4.mb-xxl-8 Розмір:
                                    span.d-inline-block.ms-20(class={'text-black': !data.isNone}) 50/56
                                p.p3.text-dark.mb-0 Код товару:
                                    span.d-inline-block.ms-20(class={'text-black': !data.isNone}) 2233454
                                if data.salePercent
                                    .badge.new.text-white.bg-orange.p3= data.salePercent
                            .mt-auto
                                .d-flex.justify-content-between.align-items-center
                                    .order-1.order-md-0
                                        +InputCounter(data.isNone)
                                    .ms-md-auto.order-0.order-md-1
                                        if !data.isNone
                                            .d-inline-block.p2.f-medium= data.price
                                            if data.sale
                                                s.d-inline-block.p3.f-medium.text-dark= data.sale

                                        else
                                            .d-inline-block.p2.f-medium.text-danger Немає в наявності
                                    a.d-inline-block.ms-18.text-dark.ksht-basket-item-delete(href="#")
                                        i.ci-Trash_Empty
                if data.isOrder
                    p.p3.text-danger-dark.mb-0.mt-8 В наявності під замовлення (5-10) робочих днів
                if data.isError
                    p.p3.text-danger.mb-0.mt-8 Неможливо додати більшу кількість у кошик