mixin BlogItem(data)
    a.text-white.py-10.ksht-selection-item(href="/blog-item.html")
        .ksht-blog-item-image(style="background-image: url(" + data.image + ")")
            .d-flex.flex-column.justify-content-between.h-100
                span.p1.f-medium= data.name
                .d-flex.align-items-center
                    img.me-12(src="")
                    span.p3= data.author
        if data.description
            div.mt-8.text-black= data.description
            .badge.text-bg-secondary.text-white
                i.ci-Clock.me-8
                span= data.dateEnd
