mixin ProductPreviewItem(data)
    .ksht-product-preview-item.d-inline-block.mb-30
        .ksht-product-preview-item-img(style="background-image: url(" + data.image + ")")
            .badge-container
                if data.isNew
                    .badge.new.text-white.bg-secondary.p3.d-none.d-xxl-block.mb-8 New
                if data.salePercent
                    .badge.new.text-white.bg-orange.p3.d-none.d-xxl-block= data.salePercent
            .right-container
                a.ksht-add-to-favorites(href="#")
                    i(class= (data.isFavorite ? 'ci-Heart_Fill_01' : 'ci-Heart_01'))
                if data.isChestnut
                    i.ki-chestnut
        a.d-flex.flex-column.ksht-product-preview-item-link.d-block&attributes(attributes)
            .d-flex.align-items-start
                span.text-black.p3= data.name
                i.ci-Shopping_Cart_02.ksht-icon-circle.bg-green-secondary.me-6.mx-xxl-16
            .mt-auto
                if data.oldPrice
                    s.p3.text-dark.me-8.me-xxl-16= data.oldPrice
                b.p2.text-black.f-medium= data.price
