mixin SelectionItem(data)
    a.ksht-selection-item.text-black.text-decoration-none
        .ksht-selection-item-image.mb-8(style="background-image: url(" + data.image + ")")
        span Найкращі пропозиції зі знижками