.ksht-top-slider
  .carousel
    &-item
      height: 560px
      background-color: #d9d9d9
      position: relative

      &-content
        position: absolute
        width: 525px
        height: 195px
        margin: auto
        top: 0
        bottom: 0
        left: 100px

    &-control
      &-prev,
      &-next
        width: 32px
        height: 32px
        background-color: $white
        margin: auto 24px