include ../../atoms/input-counter
include ../../atoms/select-two-text

mixin AddToBasket()
    .modal.fade#modalAddToBasket
        .modal-dialog
            .modal-content
                .modal-header.border-bottom
                    .modal-title.f-medium Додайте товар до кошика
                    button.btn-close(type="button" data-bs-dismiss="modal")
                .modal-body
                    .mb-18
                        - var data = [{value: 'Оберіть розмір', text: '', disabled: true, selected: true}, {value: '50/56', text: ''}, {value: '50/56', text: ''}, {value: '50/56', text: 'Немає в наявності', disabled: true}, {value: '50/56', text: ''}, {value: '50/56', text: ''}, {value: '50/56', text: 'Немає в наявності', disabled: true}]
                        +SelectTwoText(data)(labelInSelect="Розмір")
                    .d-flex.justify-content-between
                        +InputCounter()
                        button.btn.btn-green-secondary.w-250(type="button") Додати до кошика
