mixin Notification()
    .modal.fade#notification
        .modal-dialog
            .modal-content
                .modal-header.p-0
                    button.btn-close(type="button" data-bs-dismiss="modal")
                .modal-body.p-0
                    .p3 Дякуємо! Підписку оформлено.