include ../../atoms/input

mixin PasswordRecovery()
    .modal.fade#modalPasswordRecovery
        .modal-dialog
            .modal-content
                .modal-header.border-bottom
                    .modal-title.f-medium Відновити пароль
                    button.btn-close(type="button" data-bs-dismiss="modal")
                .modal-body
                    p.p3.text-dark.mb-28 Щоб відновити пароль, введіть телефон або Email
                    +Input()(class="mb-28" id="" type="text" placeholder="Номер телефону або e-mail" label="Номер телефону або e-mail*" invalidFeedback="Введіть коректний E-mail" required="true")
                    button.btn.btn-green-secondary.w-100.mb-28(type="button") Підтвердити