include ../atoms/icon-delivery

mixin Delivery(data)
    .delivery-scroll-container
        .d-flex.align-items-center.justify-content-between.delivery-container
            each item in data
                +IconDelivery(item.title, item.text, item.icon)