include mobile-footer-menu

footer.pb-55.pb-sm-0
    .footer
        .container-fluid
            .row.ksht-footer-row-1
                .col-xl-3.col-sm-6.mb-16.mb-sm-0
                    .ksht-logo-footer
                .col-sm-6
                    span.text-dark.p4 KASHTANCHIK.COM.UA - це перший в Україні маркетплейс дитячих товарів українського виробництва.
            .row.ksht-footer-row-2.mb-28
                .col-auto.col-lg-8.order-1.order-sm-0
                    .row
                        .col-6.col-sm-auto.col-lg-4.ksht-vertical-menu.p3
                            a.text-black(href="about-us.html") Про нас
                            a.text-black(href="blog.html") Блог
                            a.text-black(href="cooperation.html") Співпраця
                        .col-6.col-sm-auto.col-lg-4.ksht-vertical-menu.p3
                            a.text-black(href="stock.html") Акції
                            a.text-black(href="presents.html") Подарунки
                            a.text-black(href="brands.html") Бренди
                            a.text-black.d-none.d-sm-inline(href="contact-information.html") Особистий кабінет
                        .col-auto.col-lg-4.ksht-vertical-menu.p3
                            a.text-black(href="payment-methods.html") Оплата та доставка
                            a.text-black(href="exchange-and-return.html") Повернення та обмін
                            a.text-black(href="offer.html") Оферта
                .col-auto.col-xl-4.p3.order-0.order-sm-1
                    a.text-black.h4.f-medium.mb-16.d-block(href="tel:3333333333") (333) 333 33 33
                    span.d-block.mb-16 Обробка замовлень Пн-Нд:
                        span.d-inline.d-sm-block.d-xl-inline 09:00 - 20:00
                    a.text-black.d-block.mb-28(href="mailto:info@kashtanchik.com.ua") info@kashtanchik.com.ua
                    a.text-black.d-block.f-medium.mb-28(href="#") Перевірити статус замовлення
            .row.mb-44
                .col-sm-6.mb-28.mb-md-0
                    p.p2.f-medium.mb-28 Соціальні мережі
                    .d-flex
                        a.me-20(href="#")
                            img(src="images/tg.png" alt="" title="" width="28" height="28")
                        a.me-20(href="#")
                            img(src="images/inst.png" alt="" title="" width="28" height="28")
                        a.me-20(href="#")
                            img(src="images/fb.png" alt="" title="" width="28" height="28")
                        a.me-20(href="#")
                            img(src="images/pint.png" alt="" title="" width="28" height="28")
                        a.me-20(href="#")
                            img(src="images/yt.png" alt="" title="" width="28" height="28")
                        a.me-20(href="#")
                            img(src="images/tt.png" alt="" title="" width="28" height="28")
                .ms-sm-auto.col-auto.col-lg-4
                    p.p2.f-medium.mb-24 Способи оплати
                    img(src="images/payments.png" alt="" title="" width="246" height="44")
            .text-center
                span.text-dark.p6 © KASHTANCHIK.COM.UA 2023-2024. Всі права захищені.
+MobileFooterMenu()