footer
    .footer
        .container-fluid
            .row.ksht-footer-row-1
                .col-xl-3.col-sm-6
                    .ksht-logo-footer
                .col-sm-6
                    span.text-dark.p4 KASHTANCHIK.COM.UA - це перший в Україні маркетплейс дитячих товарів українського виробництва.
            .row.ksht-footer-row-2
                .col-sm-3.ksht-vertical-menu.p3
                    a.text-black(href="#") Про нас
                    a.text-black(href="#") Блог
                    a.text-black(href="#") Співпраця
                .col-sm-3.ksht-vertical-menu.p3
                    a.text-black(href="#") Акції
                    a.text-black(href="#") Подарунки
                    a.text-black(href="#") Бренди
                    a.text-black(href="#") Особистий кабінет
                .col-sm-3.ksht-vertical-menu.p3
                    a.text-black(href="#") Оплата та доставка
                    a.text-black(href="#") Повернення та обмін
                    a.text-black(href="#") Оферта
                .col-xl-3