footer
    .footer
        .container-fluid
            .row.ksht-footer-row-1
                .col-xl-3.col-sm-6
                    .ksht-logo-footer
                .col-sm-6
                    span.text-dark.p4 KASHTANCHIK.COM.UA - це перший в Україні маркетплейс дитячих товарів українського виробництва.
            .row.ksht-footer-row-2.mb-28
                .col-sm-8
                    .row
                        .col-sm-4.ksht-vertical-menu.p3
                            a.text-black(href="#") Про нас
                            a.text-black(href="#") Блог
                            a.text-black(href="#") Співпраця
                        .col-sm-4.ksht-vertical-menu.p3
                            a.text-black(href="#") Акції
                            a.text-black(href="#") Подарунки
                            a.text-black(href="#") Бренди
                            a.text-black(href="#") Особистий кабінет
                        .col-sm-4.ksht-vertical-menu.p3
                            a.text-black(href="#") Оплата та доставка
                            a.text-black(href="#") Повернення та обмін
                            a.text-black(href="#") Оферта
                .col-xl-4.p3
                    a.text-black.text-decoration-none.h4.f-medium.mb-16.d-block(href="tel:3333333333") (333) 333 33 33
                    span.d-block.mb-16 Обробка замовлень Пн-Нд: 09:00 - 20:00
                    a.text-black.text-decoration-none.d-block.mb-28(href="mailto:info@kashtanchik.com.ua") info@kashtanchik.com.ua
                    a.text-black.text-decoration-none.d-block.f-medium(href="#") Перевірити статус замовлення
            .row.mb-44
                .col-sm-3
                    p.p2.f-medium.mb-28 Соціальні мережі
                    .d-flex
                        a.text-decoration-none.me-20(href="#")
                            img(src="images/tg.png" alt="" title="" width="28" height="28")
                        a.text-decoration-none.me-20(href="#")
                            img(src="images/inst.png" alt="" title="" width="28" height="28")
                        a.text-decoration-none.me-20(href="#")
                            img(src="images/fb.png" alt="" title="" width="28" height="28")
                        a.text-decoration-none.me-20(href="#")
                            img(src="images/pint.png" alt="" title="" width="28" height="28")
                        a.text-decoration-none.me-20(href="#")
                            img(src="images/yt.png" alt="" title="" width="28" height="28")
                        a.text-decoration-none.me-20(href="#")
                            img(src="images/tt.png" alt="" title="" width="28" height="28")
                .col-sm-4.ms-sm-auto
                    p.p2.f-medium.mb-28 Способи оплати
                    img(src="images/payments.png" alt="" title="" width="246" height="44")
            .text-center
                span.text-dark.p6 © KASHTANCHIK.COM.UA 2023-2024. Всі права захищені.