header
    .bg-primary.header
        .container-fluid
            .row.justify-content-between.align-items-center
                .col.p1
                    a.text-black.d-xl-inline-block.d-none(href="#")
                        i.ci-Chevron_Left
                        span Продовжити покупки
                .col
                    a.ksht-logo(href="/")
                .col