include left-side-menu
include left-side-sub-menu
include modals/enter
include modals/password-recovery

header.header-index
    .header-sticky.position-static
        .bg-primary.header
            .container-fluid
                .row.justify-content-between.align-items-center
                    .col.p1.ksht-left-menu
                        a.text-black.d-xl-inline-block.d-none(href="#") Дітям
                        a.text-black.active.d-xl-inline-block.d-none(href="#") Батькам
                        a.ksht-icon-menu.d-xl-none(data-bs-toggle="offcanvas" href="#mobileMenu" aria-controls="mobileMenu")
                            i.ci-Hamburger_LG
                    .col.sticky-hide
                        a.ksht-logo(href="/")
                    .col.ksht-rigth-menu.sticky-hide
                        a.ksht-icon-menu.d-xl-inline-block.d-none(href="search.html")
                            i.ci-Search_Magnifying_Glass
                        a.ksht-icon-menu.d-sm-inline-block.d-none(href="contact-information.html")
                            i.ci-User_01
                        a.ksht-icon-menu.d-sm-inline-block.d-none(href="#" data-bs-toggle="modal" data-bs-target="#modalEnter")
                            i.ci-Log_Out
                        a.ksht-icon-menu.d-sm-inline-block.d-none(href="wish-list-no-reg.html")
                            i.ci-Heart_01
                        a.ksht-icon-menu.d-sm-inline-block.d-none(href="basket.html")
                            i.ci-Shopping_Cart_02
                    .col-12.col-input-search
                        .input-group.d-xl-none
                            i.input-group-text.ci-Search_Magnifying_Glass
                            input.form-control(type="text" placeholder="Я шукаю")
        .ksht-first-menu-container.d-xl-block.d-none.bg-white
            a.text-dark(href="about-us.html") Про нас
            a.text-dark(href="brands.html") Бренди
            a.text-dark(href="stock.html") Акції
            a.text-dark(href="presents.html") Подарунки
            a.text-dark(href="payment-methods.html") Оплата та доставка
            a.text-dark(href="cooperation.html") Співпраця
        .container-fluid.container-xxl.bg-white
            .ksht-second-menu-container.d-xl-block.d-none
                a.text-black(href="#") Хіти
                a.text-black(href="#") NEW
                .dropdown.d-inline-block
                    a.text-black.dropdown-toggle(href="#" data-bs-toggle="dropdown") Малюкам до року
                    .dropdown-menu
                        .row
                            .col-9
                                .row.row-cols-3
                                    - var submenu = ['Боді/ чоловічки/ пісочники', 'Футболки/сорочки', 'Шарфи/руковиці/ подряпини', 'Сорочки/штанці', 'Комплекти', 'Шкарпетки/пенетки/колготки', 'Кофти/ светри', 'Конверти', 'Іграшки', 'Сукні/спідниці', 'Верхній одяг/комбінезон', 'Текстиль', 'Шорти/брючки', 'Чепчеки/шапочки', 'Слюнявчики/серветки', 'Шарфи/руковиці/ подряпини', 'Інше', 'Показати все']
                                    each item in submenu
                                        .col.mb-20
                                            a.text-black(href="catalog.html")= item
                            .col-3
                                .ksht-submenu-image-preview
                a.text-black(href="catalog.html") Дівчаткам
                a.text-black(href="catalog.html") Хлопчикам
                a.text-black(href="catalog.html") Іграшки
                a.text-black(href="catalog.html") Розвиток та школа
                a.text-black(href="catalog.html") Гігієна та догляд
                a.text-black(href="catalog.html") Харчування
                a.text-black(href="catalog.html") Текстиль
                a.text-black(href="catalog.html") Меблі та декор
                a.text-black(href="catalog.html") Послуги
                a.text-black(href="catalog.html") Sale
        .d-flex.ksht-short-menu.align-items-center.d-xl-none.bg-white
            a(href="#") Дітям
            .ksht-short-menu-space
            a.active(href="#") Батькам
+LeftSideMenu()
+LeftSideSubMenu()
+Enter()
+PasswordRecovery()