mixin Instagram()
    section.mb-80
        .mb-16.f-medium.instagram-title
            h2.h2 Слідкуйте за нами в Instagram
            p.h4 @kashtanchik.com.ua
        .row.ksht-instagram-container
            .col-xl-3.col-md-4.mb-20
                .ksht-instagram-item
            .col-xl-3.col-md-4.mb-20
                .ksht-instagram-item
            .col-xl-3.col-md-4.mb-20
                .ksht-instagram-item
            .col-xl-3.col-md-4.mb-20
                .ksht-instagram-item
            .col-xl-3.col-md-4.mb-20
                .ksht-instagram-item
            .col-xl-3.col-md-4.mb-20
                .ksht-instagram-item
