mixin MobileFooterMenu()
    .mobile-footer-menu.d-md-none
        .d-flex.justify-content-between
            a.text-center(href="#")
                i.mobile-footer-menu-icon-1
                span Головна
            a.text-center(href="#")
                i.mobile-footer-menu-icon-2
                span Каталог
            a.text-center(href="#")
                i.mobile-footer-menu-icon-3
                span Кабінет
            a.text-center(href="#")
                i.mobile-footer-menu-icon-4
                    s 8
                span Обране
            a.text-center(href="#")
                i.mobile-footer-menu-icon-5
                    s 8
                span Кошик

