mixin OrderStatusAfter(index)
    .border.py-14.px-16.w-100.mb-16
        .accordion.order-status-accordion(id="accordion-" + index)
            .accordion-item
                .accordion-header
                    .accordion-button.collapsed.position-relative(data-bs-toggle="collapse" data-bs-target="#order-collapse-" + index)
                        .d-flex.align-items-md-center.w-100.flex-column.flex-md-row
                            .d-flex.align-items-xxl-center.flex-column.flex-xxl-row
                                .me-50.order-1.order-xxl-0.mb-15.mb-xxl-0
                                    p.p4.text-dark.d-none.d-xxl-block Статус
                                    p.p2.f-xxl-medium.mb-0 Виконан
                                .d-flex.order-0.order-xxl-1.mb-8.mb-xxl-0
                                    .me-xxl-50
                                        p.p4.text-dark.d-none.d-xxl-block Номер замовлення
                                        p.p2.f-xxl-medium.mb-0 1234-2144-2424
                                    .mx-6.d-xxl-none -
                                    .me-xxl-50
                                        p.p4.text-dark.d-none.d-xxl-block Дата замовлення
                                        p.p2.f-xxl-medium.mb-0 12/12/2023

                                .me-md-50.order-2.order-status-price-container
                                    p.p4.text-dark.d-none.d-xxl-block Сума замовлення
                                    p.p2.f-medium.mb-0 1455₴
                            .ms-md-auto.d-flex.align-items-center
                                .order-status-image(style="background-image: none")
                                .order-status-image(style="background-image: none")
                                .order-status-image(style="background-image: none")
                                .border-start.ps-8.p4.text-dark.py-15.py-md-32.me-md-16 +4

                .accordion-collapse.collapse(id="order-collapse-" + index data-bs-parent="#accordion-" + index)
                    .accordion-body
                        each _ in Array(5)
                            .d-flex.align-items-center.order-status-product-item
                                .ksht-basket-item-check.me-6
                                    .form-check
                                        input.form-check-input.form-circle-check-input(type="checkbox" value="" id="flexCheck" + index)
                                        label.form-check-label(for="flexCheck" + index)
                                .order-status-xl-image(style="background-image: none")
                                .d-flex.flex-column.flex-xxl-row.order-status-info-block
                                    .me-xxl-auto.p2.order-status-product-name-block
                                        p.f-medium.order-status-product-name Chamonix Floral Snowsuit Violet Grape
                                        p.text-dark.d-none.d.d-xxl-block Розмір:
                                            span.text-black 50/56
                                    .me-50.d-none.d-xxl-block
                                        p.p4.text-dark Ціна
                                        p.p2.f-medium 1244₴
                                    .me-lg-50.text-xxl-center
                                        p.p4.text-dark.d-inline-block.d-xxl-block Кількість
                                        p.p2.f-medium.d-inline-block.d-xxl-block 2
                                    div
                                        p.p4.text-dark.d-none.d-lg-block Сума
                                        p.p2.f-medium 1244₴

                        .mt-18.order-status-payment-block
                            .d-flex.p3.mb-12
                                span Оплата:
                                span.ms-auto Оплата при отриманні товару
                            .d-flex.p3.mb-28
                                span Доставка:
                                span.ms-auto Безкоштовно
                            .d-flex.p1.mb-28.f-medium
                                span Загальна сума
                                span.ms-auto 2473₴
                            a.btn.btn-green-secondary.w-100.disabled(href="#") Повторити замовлення