mixin OrderStatus()
    .border.py-18.px-28.w-100.mb-16
        .text-center.p3.f-medium
            p.mb-8 Статус вашого замовлення
            p.mb-18.text-green-secondary 43434-4343-43434
        .px-40.d-flex.justify-content-between.align-items-center
            .order-status-item.active
                i.icon-1
                p Замовлення прийнято
            .order-status-separator.active
            .order-status-item.active
                i.icon-2
                p Заказ подтвержден
            .order-status-separator.active
            .order-status-item
                i.icon-3
                p Замовлення комплектується
            .order-status-separator
            .order-status-item
                i.icon-4
                p Замовлення відправлено
            .order-status-separator
            .order-status-item
                i.icon-5
                p Замовлення доставлено