include modals/notification

mixin Subscription()
    section.bg-secondary.ksht-subscription-section.mb-80
        .d-flex.align-items-center.h-100
            .d-flex.flex-column.ksht-subscription-form.justify-content-center.align-items-center.mx-auto
                h2.h2.text-white.mb-28 Дізнавайтеся першим про наші новини
                form
                    .input-group.flex-column.flex-sm-row.flex-nowrap
                        input.form-control(type="email" placeholder="E-mail")
                        button.btn.btn-green-secondary(type="button" data-bs-toggle="modal" data-bs-target="#notification") Підписатися
        +Notification()