.input-counter
  width: 86px
  height: 28px
  .btn
    margin: 0
    line-height: 1px
    padding: 5px 5px
    height: 28px
  .form-control
    height: 28px
    width: 34px
    padding: 2px

@media (min-width: 1320px)
  .input-counter
    width: 146px
    .btn
      margin: 0
      line-height: 1px
      padding: 17px 18px